
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');


body{

    background-color: #ffffff;

}

.navbar{
    height: 88px;
    background-color: #ffffff !important;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav-img{
    margin-left: 30px;
}

.navbar-nav{
   
    margin-left: 45px;
    width: 21rem;
    display: flex;
    justify-content: space-between;
    font-family: 'IBM Plex Sans JP' ;
}

.collapse{
  
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: #25282f !important;
    font-size: 15px;
    
}


.nav-link:hover{
    color: #21afbf !important;
}

.nav-btn{
    margin-right: 25px;
    
}

.btn-primary{
    background-color: #ffffff;
    color: #000000;
    height: 50px;
    border: none;
    font-family: 'IBM Plex Sans JP';
    font-size: 15px;
    
}

.btn-secondary {
    background-color: #21afbf;
    width: 140px;
    height: 50px;
    border: none;
    font-family: 'IBM Plex Sans JP';
    font-size: 15px;
   
}

.btn-primary:hover{
    background-color: #ffffff ;
    color: #21afbf;
}

.btn-secondary:hover{
    background-color:#21afbf ;
}



.in-child-head{
    
    /* width: 1300px; */
    height: 81px;
    color:#25282f;
    font-size: 60px;
    text-align: center;
   font-weight: 900;
    font-family: 'IBM Plex Sans JP';
   
    margin-top: 100px;
}

.in-child-head1{
    text-align: center;
    height: 35px;
    font-size: 24px;
    color: #434856;
    letter-spacing: normal;
    font-weight: 600;
   
}



.btn3{
    background-color: #21afbf;
    color: #ffffff;
    width: 226px;
    height: 64px;
    font-size: 18px;
    font-family: 'IBM Plex Sans JP';
}

.btn4{
    background-color: rgb(213, 238, 240);
    color: #21afbf ;
    width: 226px;
    height: 64px;
    font-size: 18px;
    font-family: 'IBM Plex Sans JP';
    
}

 .btnbtn{
    margin-inline: 8px;
    margin-top: 40px;
}





@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


  @keyframes slide2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }


  .logos {
    
    overflow: hidden;
    padding: 15px 0;
    background: white;
    white-space: nowrap;
    
 
  }
  

  
  .logos-slide {
    display: inline-block;
    animation: 60s slide infinite linear;
  }

   
  .logos-slide2 {
    display: inline-block;
    animation: 60s slide2 infinite linear;
  }


  
  .logos-slide img {
    margin-top: 105px ;
    height: 300px;
    border-radius: 12px;
    margin: 0 5px;
    box-shadow: 2px 2px 8px #25282f ;
    
    
    
  }

  .logos-slide2 .img2{
    height: 200px;
    border-radius: 12px;
    margin: 0 5px;
    box-shadow: 2px 2px 8px #25282f ;
  }

  .two-slides{
    
    margin-top: 45px;
    height: 700px;
  }


  .in-two-slides{
    padding-block: 85px;
    height: 760px;
    
  }

  .sec4{
    
    height: 1602px;
    background-color: #fafafc;
  }

  .in-sec4{
    height: 1602px;
    margin-inline: auto;
  }
 
  .in-child-head2{
    margin-inline: auto;
    
    height: 59px;
    text-align: center;
    color: #434856;
    letter-spacing: normal;
    font-weight: 600;
    font-size: 20px;
  }

  .card{
    width: 346px;
    border: none;
  }

  .row{
    
    width: 1120px;
    height: fit-content;
    margin-inline: auto;
    margin-top: 65px;
  }

  

  .card-img-top{
    border-radius: 12px;
  }

    .card-style{
        background-color: #fafafc ;
        font-family: 'IBM Plex Sans JP';
        font: 16px;
    }

    .card-title{
        font-size: 24px;
        color: #25282f;
        font-weight: 700;
    }

    .card-text2{
        font-size: 14px;
        color: #21afbf;
        font-weight: 600;
    }

    .btn7{
        width: 261px;
        height: 56px;
        margin-top: 69px;
        font-size: 16px;
        font-family: 'IBM Plex Sans JP';
        background-color: #383a42;
        color: #ffffff;
        border-radius: 12px;
        border: none;
      
    }

    .top{
        margin-top: 25px;
    }

    .sec4-btn{
        text-align: center;
    }

   .temp{
  
    padding-top: 20px;
   }

   

   .sec5{
    height: fit-content;
 
   }

   .sec5-part{
    height: 660px;
    
    width: 1120px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .img3{
   height: 425px;
    
   }

   .sec5-cont{
    width:480px ;
    height: 420px;
   
   }

   .in-sec5-1{
    font-size: 36px;
    font-family: 'IBM Plex Sans JP';
    font-weight: 800;
    
   }

   .in-sec5-2{
    font-weight: 600;
    font-size: 20px;
    font-family: 'IBM Plex Sans JP';
    color: #25282f;
    
   }


   .sec6{
    height: 1172px;
    
   }

   .sec6-content{
    margin-top: 64px;
    margin-inline: auto;
    width:1200px ;
    display: flex;
    justify-content: space-between;
    
   }

   .txt-img1{
    width: 580px;
    height: 360px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 8px #535355;
    margin-inline: auto;

   }

   .conts{
    margin-top: 18px;
    width: 224px;
    height: 97px;
   }

   .txt1{
    font-size: 28px;
    color: #25282f;
    font-weight: 800;
    font-family: 'IBM Plex Sans JP';
   
   }

   .txt2{
    font-size: 16px;
    color: #25282f;
   }


   .imgs{
    width: 320px;
    height: 325px;
    border-radius: 12px;
    margin-block: auto;
    
   }

   .txt-img2{
    /* border: 2px solid red; */
    height: 360px;
    width: 1200px;
    margin-inline: auto;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #535355 ;
    display: flex;
    justify-content: space-evenly;
   }


   .feedback{
    
    height: 120px;
    width: 552px;
    margin-top: 25px;
    
   }

   .feed-img{
    margin-block: auto;
   }

   .feed-img1{
    height: 320px;
    border-radius: 15px;
   }

   .sec7{
    height: 443px;
    background-image: url(/assets/asset\ 93.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
   }

   .in-sec7{
    /* width: 100vw; */
    margin-inline: auto;
    height:443px ;
    /* width: 1536px; */
   }

   .sec7-cont{
    /* border: 2px solid red; */
    height: 360px;
    width: 1200px;
    margin-inline: auto;
    margin-top: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
   }

   .sec7-txt{
    font-size: 44px;
    color: #25282f;
    font-weight: 800;
    font-family: 'IBM Plex Sans JP';
    margin-block: auto;
    color: #ffffff;
   
   }

   .sec7-btn{
    width: 226px;
    height: 59px;
    text-align: center;
    font-family: 'IBM Plex Sans JP';
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    border: none;
    background-color:  #dbd5d523 ;
    border-radius: 8px;
    margin-block: auto;
    
   }

   .feedback-1{
    width: 552px;
    margin-block: auto;
    
   }

   footer{
    height: 331px;
   }

   
   .in-footer{
    height: 184px;
    width: 1280px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
   }

   .foots{
    height: 22px;
    width: 487px;
    display: flex;
    justify-content: space-between;
    margin-block: auto;
   }

   
   .foots div{
    font-weight: 600;
    font-size: 14px;
    color: #25282f;
   }

   .foot-imgs{
    
    width: 220px;
    height: 40px;
    margin-block: auto;
    display: flex;
    justify-content: space-between;
   }

   .foot-imgs p{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeef7b2;
   }

   




/*----------Responsive------------ */




@media screen and (max-width: 992px) {
    
    .nav-btn{
        display: none;
       
    }

    .navbar-nav{
        background-color: #ffffff;
        margin-left: 0px !important;
        height: 150px;
    }

    .navbar-collapse{
        position: absolute;
        top: 75px;
       
    }

    .nav-btn{
        margin-left: 50px;
    }

    .in-child-head{
        font-size: 23px;
        width: 100vw;
    }

    .in-child-head1{
       
        font-size: 15px;
    }

    .in-child-head2{
        font-size: 15px;
        width: 150px;
    }

    .btnbtn{
     font-size:15px ;
     width: 270px;
     height: 45px;
     }

     .logos-slide img {
        height: 200px;
        
     }

     .logos-slide .img2{
        height: 150px;
     }

     .sec4{
      height: 3230px;
      width: 100vw;
     }
  

     .btn7{
      display: block;
     }


     .row{
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      
     }

     .btn7{
      margin-inline: auto;
      height: 45px;
      width: 195px;
     }

     .child-head{
      
      font-weight: 700;
      height: fit-content;
      font-size: 50px;
      width: 100vw;
     }

     .sec5-part{
      flex-wrap: wrap;
      width: 100vw;
     }

     .img3{
      width: 100vw;
     }
     .sec5-cont{
      
      height: 250px;
     }

     .in-sec5-1{
      margin-left: 7px;
      margin-top: 10px;
      font-size: 23px;
     }

     .in-sec5-2{
      margin-left: 7px;
      font-size: 16px;
      
     }

    .sec6-content{
      flex-wrap: wrap;
     width: 100vw;
    }

     .txt-img1{
      
      flex-wrap: wrap;
      width: 330px;
      height: 430px;
      margin-block: 10px;
      
     }

     .imgs{
      height: 290px;
      width: 280px;
     }

     .txt-img2{
      flex-wrap: wrap;
      width: 330px;
      height: 540px;
     }

     .feedback{
      width:250px ;
     }

     .feed-img1{
      height: 290px;
      width: 280px;
     }

     
     .in-sec7{
      width: 100vw;
     }
    
     .sec7-cont{
      flex-wrap: wrap;
       width: 100vw;
    }

    .sec7-txt{
      width: 100vw;
      padding-left: 10px;
    }

    /* footer{
      width: fit-content;
    } */
    
    .in-footer{
      flex-wrap: wrap;
      width: auto;
    }

     .foots{
      flex-wrap: wrap;
      height: 35px;
      width:100vw;
     }

     .foot-imgs{
      margin-inline: auto;
     }
     

  }
